@import '../../../styles/variables.scss';
@import '../../../styles/mixin.scss';

.card {
    @include flex-row-end;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    font-size: 11px;
    background-color: #F3F3F3;
    border-radius: 8px;
}

.card:not(:last-child) {
    margin-bottom: 24px;
}

.item {
    margin-right: 7px;
    color: #A3A3A3;
}

.listItems:not(:last-child) {
    margin-bottom: 8px;
}

.link {
    font-size: 12px;
    color: $blueColor;
    text-decoration: none;
}

.link:hover {
    color: $blueColor;
    opacity: 0.4;
}